{% extends "header.html" %}
{% block main %}
<div class="w3-container">
  <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-amber">
    <p>This page will explain how to build and host a website</p>
      <p></p>
      <p>The following is a list of the different services, programs and applications that we will use:</p>
      <p></p>
      <a href="https://www.scaleway.com/en/">Scaleway - Cloud computing service that will host the webserver and website</a>
      <p></p>
      <a href="https://www.debian.org/distrib/">Debian - Linux operating system that we will use on our cloud instance</a>
      <p></p>
      <a href="http://python.org/">Python - Programming language to build the website</a>
      <p></p>
      <a href="https://www.jetbrains.com/pycharm/">Pycharm - Programming development environment</a>
      <p></p>
      <a href="https://www.putty.org/">PuTTY - SSH client</a>
      <p></p>
      <a href="https://github.com/">Git - Version control system</a>
      <p></p>
      <a href="http://flask.pocoo.org/">Flask - Specifc Python framework used to build the website</a>
      <p></p>
      <a href="https://docs.nginx.com/">Nginx - Reverse proxy server</a>
      <p></p>
      <a href="https://gunicorn.org/">Gunicorn - Webserver</a>
      <p></p>
      <a href="http://supervisord.org/">Supervisor - Process control system</a>
      <p></p>

  </div>

    <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-amber">
    <p>First some assumptions</p>
        <p>We are assuming windows is the operating system on the base computer</p>
        <p>We will assume basic computing abilities and no fear !!!</p>
  </div>

    <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-amber">
    <p>About this guide</p>
        <p>Information will have amber borders</p>
        <p>Instructions will have green borders</p>
        <p>Code will have blue borders</p>
        <p>Videos will guide you along the way</p>
        <p>Watch the video of the step from start to end - then follow the instructions</p>
  </div>

    <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-green">
    <p>Step One</p>
        <p>Download Python</p>
  </div>

    <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-green">
    <p>Step Two</p>
        <p>Download Pycharm Community Edition</p>
  </div>

    <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-green">
    <p>Step Three</p>
        <p>Download Git</p>
  </div>

    <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-green">
    <p>Step Four</p>
        <p>Sign up for a GitHub account</p>
  </div>

    <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-green">
    <p>Step Four</p>
        <p>Sign up for a GitHub account</p>
  </div>

    <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-green">
    <p>Step Five</p>
        <p>Download PuTTY</p>
  </div>

    <div class="w3-panel w3-grey w3-topbar w3-bottombar w3-border-green">
    <p>Step Six</p>
        <p>Build our cloud computing instance</p>
  </div>

</div>
{% endblock %}