{% extends "header.html" %}

{% block main %}
<div class="w3-container">
  <h2></h2>
  <div class="w3-card-4" style="width:70%">
    <header class="w3-container w3-light-grey">
      <h3>Keith Gates</h3>
    </header>
    <div class="w3-container">
      <hr>
      <img src="../static/img_avatar3.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
      <p>Seeking a new job and new opportunities.</p><br>
    </div>
    <button class="w3-button w3-block w3-dark-grey">+ Connect</button>
  </div>
</div>
{% endblock %}
